!!! 5
html(lang='en')
  head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# jezzpaul: http://ogp.me/ns/fb/jezzpaul#')
    meta(property='fb:app_id', content='151296288348494')
    meta(property='og:type', content='jezzpaul:level')
    - if(score)
        meta(property='og:description', content='I got to level #{level} and a score of #{score}. Beat that!')
    - else
        meta(property='og:description', content='JezzPaul is awesome. I reached level #{level} because I rock at this game. Try it out!')
    - var ogurl = encodeURI('http://og.jezzpaul.com:3333/' + level + (score ? "?score="+score : ""))
    meta(property='og:url', content='#{ogurl}')
    meta(property='og:title', content='Level #{level}')
    meta(property='og:image', content='http://catsinsinks.com/images/cats/rotator.php?#{level}')
    title JEZZPAUL

  body
    h1 
        a(href='http://jezzpaul.com')
            JEZZPAUL IS MY FAVORITE!
    script
        window.location = 'http://jezzpaul.com'